.mainFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    margin-left: 25%;
    height: 41vh;
    width: 50vw;
    flex-direction: column;
}

.inputField {
    font-size: 1vw;
    background-color: rgb(44, 43, 43);
    color: white;
    width: 35vw;
    padding: 2% 3%;
    border-radius: 10px 10px 40px 10px;
    border-style: none;
    margin: 1%;
}

input[type=email], input[type=text] {
    height: min(7vw, 7vh);
    float: left;
    /*margin: 2% 0;*/
    box-sizing: border-box;
    font-size: max(10px ,1vw);
    transform: scale(1);
    transition: all .5s ease-out;
}

input[type=email]:hover {
    transform: scale(1.04);
}

#content {
    height: min(14vw, 14vh);;
    box-sizing: border-box;
    resize: none;
    font-size: max(10px, 1vw);
    transform: scale(1);
    transition: all .5s ease-out;
}

#content:hover {
    transform: scale(1.03);
}

#clientEmailLabel {
    margin-left: 5%;
    height: 7vh;
}

#contentLabel {
    margin-left: 5%;
    height: 7vh;
}

#clientEmail {
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}

#submitButton {
    background-color: rgb(97, 97, 212);
    color: white;
    border-style: none;
    font-size: max(10px ,1vw);
    padding: max(5px, 1.5%);
    border-radius: 20px;
    cursor: pointer;
    transform: scale(1);
    transition: all .5s ease-out;
}

#submitButton:hover {
    transform: scale(1.125);
}


.form {
    margin: 0;
    width: 70%;
    height: fit-content;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #93a9b9;
    border-radius: 45px;
}

h1.formHeader {
    font-size: max(14px ,2vw);
    color: white;
    -webkit-text-stroke: 0.001px rgb(190, 190, 190);
}

.formHeader {
    font-size: max(10px ,1vw);
}


input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: white;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    color: white;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 35px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

body{
    font-family: IBM Plex Sans Condensed;
    color: white;
}

@media screen and (max-height: 650px){
    #bottomSection {
        margin-top: 0;
        flex-direction: row;
        justify-content: space-around;
    }
}
@media screen and (min-height: 650px){
    #bottomSection {
        flex-direction: column;
    }
}

/*
@media screen and (max-wdith: ;){
    
}
*/