/*
Alexander Calkins
Personal Website
9/1/2023
*/

#Fbody {
    overflow-y: hidden;
}

.mainFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-left: 25%;
    height: 80vh;
    width: 50vw;
    flex-direction: column;
}

/* CSS for .inputField */
.inputField {
    font-size: 1vw;
    background-color: rgb(44, 43, 43);
    color: white;
    width: 35vw;
    padding: 2% 3%;
    border-radius: 10px 10px 40px 10px;
    border-style: none;
    margin: 1%;
}

/* CSS for input[type=email] and input[type=text] */
input[type=email], input[type=text] {
    height: 5vh;
    float: left;
    box-sizing: border-box;
    font-size: max(10px ,1vw);
    transform: scale(1);
    transition: all .5s ease-out;
}

/* CSS for input[type=email] on hover */
input[type=email]:hover {
    transform: scale(1.04);
    box-shadow: -5px 5px rgba(0,0,0, .1);
}

/* CSS for #content */
#content {
    height: 37vh;
    box-sizing: border-box;
    resize: none;
    font-size: max(10px, 1vw);
    transform: scale(1);
    transition: all .5s ease-out;
}

/* CSS for #content on hover */
#content:hover {
    transform: scale(1.03);
    box-shadow: -5px 5px rgba(0,0,0, .1);
}

/* CSS for #clientEmailLabel */
#clientEmailLabel {
    margin-left: 5%;
    height: 7vh;
    color: rgb(114, 114, 114);
}

/* CSS for #contentLabel */
#contentLabel {
    margin-left: 5%;
    height: 7vh;
    color: rgb(114, 114, 114);
}

/* CSS for #clientEmail */
#clientEmail {
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}

/* CSS for .submitButtonContainer */
.submitButtonContainer {
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

/* CSS for #submitButton */
#submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    background-color: rgb(65, 68, 71);
    color: white;
    border-style: none;
    font-size: max(10px ,1vw);
    padding: max(5px, 1.5%);
    border-radius: 20px;
    cursor: pointer;
    transform: scale(1);
    transition: all .5s ease-out;
}

/* CSS for #submitButton on hover */
#submitButton:hover {
    transform: scale(1.125);
    box-shadow: -5px 5px rgba(0,0,0, .1);
}

/* CSS for .form */
.form {
    margin: 0;
    width: 130%;
    height: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffff;
    border-radius: 45px;
}

/* CSS for .contactForm */
.contactForm {
    height: 77%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* CSS for .formHeaderContainer */
.formHeaderContainer {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* CSS for .formHeaderMain */
.formHeaderMain {
    margin: 0;
    font-size: max(16px, 2.5vw);
    color: white;
    -webkit-text-stroke: 1px rgb(170, 170, 170);
    transform: scale(1);
    text-shadow: 0px 0px rgba(0,0,0,0);
    transition: all .5s ease-out;
}

/* CSS for .formHeaderMain on hover */
.formHeaderMain:hover {
    transform: scale(1.125);
    text-shadow: -5px 5px rgba(0,0,0, .1);
}

/* CSS for .label */
.label {
    color: black;
}

/* CSS for .formHeader */
.formHeader {
    margin: 0;
    font-size: max(10px ,1vw);
}

/* CSS for .styledInput */
.styledInput {
    position: absolute;
}

/* CSS for the body */
body {
    font-family: IBM Plex Sans Condensed;
    color: white;
}
