.mainFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    margin-left: 25%;
    background-color: aliceblue;
    height: 50vh;
    width: 50vw;
    flex-direction: column;
    padding: 0;
}

/*
.inputField {
    width: 100px;
}
*/

.form {
    display: flex;
    flex-direction: column;
}

body{
    font-family: IBM Plex Sans Condensed;
}