#introTextContainer {
  white-space: nowrap;
  overflow: hidden;
  width: 100vh;
  z-index: -1;  
}

#introText {
  font-size: max(7vh, 7vw);
  font-family: Tahoma, sans-serif;
  cursor: default;
}

.card {
  
}

.card2 {
  
}

.slide-in-from-right {
  animation: 1s ease-out 0s 1 slideInFromRight forwards;
}

.slide-in-from-left {
  animation: 1s ease-out 0s 1 slideInFromLeft forwards;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0.0;
    transform: translateX(-50%);
  }

  9% {
    opacity: 0.0;
    transform: translateX(-50%);
  }

  10% {
    opacity: 0.5;
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0.0;
    transform: translateX(50%);
  }

  9% {
    opacity: 0.0;
    transform: translateX(50%);
  }

  10% {
    opacity: 0.5;
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-from-top {
    animation: 1s ease-out 0s 1 slideInFromTop forwards;
}
  
@keyframes slideInFromTop {
  0% {
    opacity: 0.0;
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-from-bottom {
  animation: 2s 0s 1 slideInFromBottom forwards;
}

@keyframes slideInFromBottom {
0% {
  opacity: 0.0;
}

100% {
  opacity: 1;
}
}