@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

:root{
--color: #dddddd; 
}

body {
  font-family: 'Red Hat Text', sans-serif;
}

.container {
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1519120944692-1a8d8cfc107f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80);
  background-size: cover;
  background-position: center;
  
/*  this is where the magic happens:  */
  background-attachment: fixed;
}

.blank,
.other {
  width: 100%;
  min-height: 15vh;
  background-color: var(--color);
}

.blank2 {
    width: 100%;
    min-height: 10vh;
    background-color: var(--color);
}

.first {
    background-color: var(--color);
    background-image: none !important;
    min-height: 80vh;
}

.second {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:url(/images/About-Mono.png);
  background-attachment: fixed;
  height: 70vh;
}

.third {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/images/Code-mono.png);
    background-attachment: fixed;
    height: 70vh;
}

.forth {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url(/images/Why-Mono.png);
    background-attachment: fixed;
    height: 70vh;
}

.second-img {
  background-image:url(/images/About-Color.jpg);
  background-attachment: fixed;
  height: 15vh !important;
}

.third-img {
    background-image:url(/images/Code-Color.png);
    background-attachment: fixed;
    height: 15vh !important;
}

.forth-img {
    background-image:url(/images/Why-Color.jpg);
    background-attachment: fixed;
    height: 15vh !important;
}

.card > a {
  margin-bottom: 2em;
}

.item {
  display: flex;
  max-width: 320px;
  background-color: white;;
  flex-direction: column;
  align-items: center;
  border-radius: .5em;
  -webkit-box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
  -moz-box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
  box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
}

.img-first {
  width: 90%;
  height: 200px;
  background-color: lightgrey;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  border-radius: .3em;
  background-image: url(https://images.unsplash.com/photo-1522163182402-834f871fd851?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1606&q=80);
}

.img-second {
  width: 90%;
  height: 200px;
  background-color: lightgrey;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  border-radius: .3em;
  background-image: url(https://images.unsplash.com/photo-1628746404106-4d3843b231b3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2F2aW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60);
}

.img-third {
  width: 90%;
  height: 200px;
  background-color: lightgrey;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  border-radius: .3em;
  background-image: url(https://images.unsplash.com/photo-1632853073412-782bf0279d65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
}
