.body {
    margin: 0;
    background-color: #dddddd;
    overflow-x: hidden;
}

a:link {
    text-decoration: none;
  }

a:visited {
    text-decoration: none;
  }

a:hover {
    text-decoration: none;
  }

a:active {
    text-decoration: none;
  }

.topBanner {
    font-family: IBM Plex Sans Condensed;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    width: 100%;
    background-color: #202020;
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    height: 10vh;
    z-index: 100;
}

.topBanner p {
    color: white;
    font-size: max(14px, 2vw);
    font-family: IBM Plex Sans Condensed;
}

.topLinks {
    left:0;
    display: inline-flex;
    flex-flow: row-reverse;
    align-content: flex-end;
    align-items: center;
}

.topBannerIcon {
    margin-left: min(5vh, 1vh);
    display: inline-flex;
    align-items: center;
    justify-content: left;
    color: white;
    cursor: default;
}


.topLinksButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202020;
    max-width: 10vw;
    transition: background-color 1.5s ease-out;
    padding-left: min(15vh, 5vh);
    padding-right: min(15vh, 5vh);
    min-width: 1vw;
    height: 10vh;
    border: 0;
}

.topLinksButtons:hover{
    background-color: #4d4d4d;
    cursor: pointer;
}
.mainBody {
    display: grid;
}

.mainBodyTop {
    margin-top: 4.5%;
    display: grid;
    grid-template-columns: 1fr;
}


.mainBodyTopText {
    font-family: IBM Plex Sans Condensed;
    color: white;
    display: flex;
    align-content: space-evenly;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#introText {
    transform: scale(1);
    text-shadow: -5px 5px rgba(0,0,0, .1);
    transition: all .5s ease-out;
  }
#introText:hover {
    transform: scale(1.125);
    text-shadow: -10px 10px rgba(0,0,0, .1);
}

.mainBodyBottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content:center;
    justify-content:center;
    text-align: left;
    align-items: center;
}

.floater {
    z-index: 1000;
}

.MBS{
    border: 0;
}

img {
    width: 35vh;
}

.mainBodyBottomSections {
    transform: translate(-100%, 0); 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: IBM Plex Sans Condensed;
    flex-direction: row;
}

.midMainBodyBottomSections {
    transform: translate(100%, 0); 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: IBM Plex Sans Condensed;
    flex-direction: row;
}

.MBS1a {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    transition: transform .4s cubic-bezier(0, -0.55, 0.05, 1.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.MBS1b {
    margin-left: 5%;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 1%;
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;
    box-shadow: -5px 5px rgba(0,0,0, .1);
}

.MBS2a {
    margin-right: 5%;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 1%;
    padding-left: 20px;
    padding-right: 20px; 
    width: 50%;
    box-shadow: -5px 5px rgba(0,0,0, .1);
}

.MBS2b {
    background-color: rgba(207, 206, 206, 0.5);
    border-radius: 100%;
    transition: transform .4s cubic-bezier(0, -0.55, 0.05, 1.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.MBS3a {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    transition: transform .4s cubic-bezier(0, -0.55, 0.05, 1.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.MBS3b {
    margin-left: 3%;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 1%;
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;
    box-shadow: -5px 5px rgba(0,0,0, .1);
}

.mainBodyBottomSections h4{
    font-size: max(14px, 1.2vw);
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}

.midMainBodyBottomSections h4{
    font-size: max(14px, 1.2vw);
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}

.mainBodyBottomSections p{
    cursor: default;
    transition: all 1s ease;
    font-size: max(10px, .9vw);
}

.midMainBodyBottomSections p{
    cursor: default;
    transition: all 1s ease;
    font-size: max(10px, .9vw);
}

#bottomSection {
    width: 50%;
    margin-left: 25%;
    bottom: 0;
    margin-bottom: 0;
    height: 10vh;
    position: relative;
    background-color: #cccccc;
    font-family: IBM Plex Sans Condensed;
    display: flex;
    align-items: center;
    color: white;
    transition: opacity 1s ease;
    opacity: 0;
    margin-top: 0;
    flex-direction: row;
    justify-content: center;
    border-radius: 50px;
}
#bottomSection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    border-radius: 20px;
    opacity: .5;
    transform: translateX(-50%);
    width: 50%;
    height: 1vh; 
    background-color: #afafaf; 
}

#bottomSection h1{
    margin-left: 2%;
    margin-right: 2%;
    transition: all 1s ease;
    font-size: max(14px, 1.2vw);
}

#bottomSection p{
    margin-left: .25%;
    margin-right: .25%;
    transition: all 1s ease;
    font-size: max(14px, 1.2vw);
}

#bottomSection a {
    margin-left: 2%;
    margin-right: 2%;
    transition: all 1s ease;
    font-size: max(10px, .6vw);
    color: rgb(255, 255, 255);
}

#aboutSection {
    margin-bottom: 25vh;
}
#bottomSection a:link {
    text-decoration: underline;
}

#bottomSection a:visited {
    text-decoration: underline;
}

#bottomSection a:hover {
    text-decoration: underline;
}

#bottomSection a:active {
    text-decoration: underline;
}

.scrollToTop {
    transition: all .35s ease-in;
    opacity: 0.2;
    position: fixed;
    margin-right: 1%;
    margin-bottom: 1%;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 6vh;
    background-color: #e6e6e6;
}
.scrollToTop button {
    font-size: 2.5vw;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
}

canvas {
    z-index: -50;
    background-color:#153142;
    position: fixed;
    top: 0;
    left: 0;
}

html {
    scroll-behavior: smooth;
}

@media screen and (max-width: 480px) {
    .mainBodyTop {width: min(75%, fit-content);}
    .mainBodyTopText {width: min(75%, fit-content);}
    .mainBodyBottomSections{ flex-direction: column};
    .midMainBodyBottomSections{ flex-direction: column};
    .MBS1b{ width: 50vh};
    .MBS2a{ width: 50vh};
    .MBS3b{ width: 50vh};
}

@media screen and (max-width: 480px) {
    .midMainBodyBottomSections{ flex-direction: column-reverse};
}

@media screen and (min-width: 480px) {
    .mainBodyBottomSections{ flex-direction: row};
    .midMainBodyBottomSections{ flex-direction: row};
    .MBS1b{ width: 50%};
    .MBS2a{ width: 50%};
    .MBS3b{ width: 50%};
}

@media screen and (min-width: 480px) {
    .midMainBodyBottomSections{ flex-direction: row};
}