.body {
    margin: 0;
    background-color: #153142;
    overflow-x: hidden;
}

.topBanner {
    font-family: IBM Plex Sans Condensed;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    width: 100%;
    background-color: #1B4965;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 10vh;
    z-index: 100;
}
.mainBody {
    display: grid;
}

.mainBodyTop {
    margin-top: 4.5%;
    margin-bottom: 5vh;
    display: grid;
    height: 75vh;
    grid-template-columns: 75vh 1fr;
}


.mainBodyTopText {
    font-family: IBM Plex Sans Condensed;
    color: white;
    display: flex;
    align-content: space-evenly;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.mainBodyBottom {
    margin-top: 5vh;
    margin-bottom: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content:center;
    justify-content:center;
    text-align: left;
    align-items: center;
}

.mainBodyBottomSections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    font-family: IBM Plex Sans Condensed;
    margin-bottom: 10%;
}

.MBS1a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.MBS1b {
    border-radius: 20px;
    background-color: #CAE9FF;
    padding: 1%;
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;
}

.MBS2a {
    border-radius: 20px;
    background-color: #CAE9FF;
    padding: 1%;
    padding-left: 20px;
    padding-right: 20px; 
    width: 50%;
}

.MBS2b {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.MBS3a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.MBS3b {
    border-radius: 20px;
    background-color: #CAE9FF;
    padding: 1%;
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;
}

.mainBodyBottomSections h4{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}

.mainBodyBottomSections p{
    text-align: justify;
    cursor: default;
}


.topBanner p {
    color: white;
    font-size: 30px;
    font-family: IBM Plex Sans Condensed;
}

.topLinks {
    left:0;
    display: inline-flex;
    flex-flow: row-reverse;
    align-content: flex-end;
}

.topBannerIcon {
    margin-left: 5vh;
    display: inline-flex;
    align-content: center;
    color: white;
    cursor: default;
}


.topLinksButtons {
    background-color: #1B4965;
    max-width: 20vh;
    padding-left: 20%vh;
    padding-right: 20vh;
    min-width: 5vh;
    height: 10vh;
    border: 0;
    transition: background-color 0.5s ease-out;
}

.topLinksButtons:hover{
    background-color: #20597c;
    cursor: pointer;
}

#bottomSection {
    margin-top: 10vh;
    height: 25vh;
    padding: 1%;
    background-color: #1B4965;
    font-family: IBM Plex Sans Condensed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

#bottomSection p{
    font-size: 14px;
}

#bottomSection a {
    font-size: 12px;
}