@media screen and (max-height: 650px){
    #bottomSection {
        margin-top: 0;
        flex-direction: row;
        justify-content: space-around;
    }
    .projectSideBarNav {
        
    }
}
@media screen and (min-height: 650px){
    #bottomSection {
        flex-direction: column;
    }
    .projectSideBarNav {

    }
}

.projectSideBarNav {
    margin-top: 10vh;
    width: 10%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: left;
    background-color: aliceblue;
}

.projectSideBarNavContent {

}